:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --hover-color: #2196f3;
  --background-hero: rgba(47, 48, 58, 0.4);
  --background-tim: #f5f4fa;
  --background-footer: #2f303a;
  --background-section: #FFFFFF;
  --header-contact: #757575;
  --color-passiv-icon-link: #AFB1B8;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

/*components*/

body {
  font-family: var(--main-font);
  color: #212121;
  letter-spacing: 0.03em;
  /* padding-top: 80px; */
}

img {
  display: block;
  max-width: 100%;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.48;
 
  /* outline: 2px solid blue; */
}

.logo-light {
  display: block;
  color: #000000;
}

.logo-dark {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}
.accent {
  color: var(--hover-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.conteiner {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  
   /* outline: 2px solid blue; */
}


.button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  }



.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  }

/*headear*/

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--background-section);
  border-bottom-width: 1px;
  border-bottom-color: #ECECEC;
  border-bottom-style: solid;
  
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  
       
  /* outline: 2px solid blue; */
}

.menu  {
  display: flex;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}
/* .menu > .menu-item:not(:last-child) { */
  /* margin-right: 50px; } */

.menu .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* outline: 2px solid blue; */
}
.menu-link:hover,
.menu-link:focus {
  color: var(--hover-color);
  
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--hover-color);
}
.current {
  color: var(--hover-color);
}

.menu-contactul {
  display: flex;
  margin: 0;
  margin-left: auto;
  /* padding-top: 32px; */
  /* padding-bottom: 32px; */
  }

.header-contact {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-contact);
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
  /* outline: 2px solid blue; */
}

.icon-menu {
  margin-right: 10px;
  fill: var(--header-contact); 
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.imeg-contact:hover .icon-menu,
.imeg-contact:focus .icon-menu {
   fill: var(--hover-color);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--hover-color);
}

.menu-contactul > .menu-contact:not(:last-child) {
    margin-right: 50px;
}

/*hero*/
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  max-width: 1600px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
    to right,
    var(--background-hero),
    var(--background-hero)
  ),
  url(../imeges/main.jpg);
    
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
     
  /* outline: 2px solid blue; */
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  
  min-width: 200px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  background: var(--hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
}


/* .modal-btn:hover { */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
/* } */

/*preferens*/

.preferens {
  padding-top: 94px;
  background-color: var(--background-section);
}

.preferens-list {
  display: flex;
  justify-content: space-between;
}

.preferens-unit {
  width: calc((100% - 90px) / 4);
 
}

.preferens-unit:not(:last-child) {
    margin-right: 30px;
}

.text-preferens {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.preferens-imeg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-tim);
  border-radius: 4px;
}

/*about*/

.about {
  background-color: var(--background-section);
  
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-unit {
  position:relative;
  
}
.about-unit h3 {
  display:flex;
  width:100%;
  padding-top: 27px;
  padding-bottom: 27px; 
  margin: 0;
  justify-content: center;
  /* align-items: center; */

  position:absolute;
  content: "";
  bottom: 0;
  left: 0;

  color: var(--background-section);
  background-color: rgba(47, 48, 58, 0.8);

}


/*tim*/
.tim {  
  background-color:var(--background-tim);
 }


.tim-list {
  display: flex;
  justify-content: space-between;
}  

.tim-unit {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.tim-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
 
}

.text-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;

}

.tim-imeg {
  display: flex;
  justify-content: center;

}

.tim-imeg li + li {
  margin-left: 10px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-section);
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.icon-tim {
 
  fill: var(--color-passiv-icon-link);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social:hover,
.social:focus {
  background-color: var(--hover-color);
}

.social:hover .icon-tim,
.social:focus .icon-tim {
   fill: var(--background-section);
}

/*customers*/

.customers-list {
  display: flex;
  justify-content: center;

}
.customers-list li + li {
  margin-left: 30px;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  background-color: var(--background-section);
  border-radius: 4px;
  border: 1px solid var(--color-passiv-icon-link);
  cursor: pointer;
  padding: 16px 32px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.icon-customer {
  width: 106px;
  height: 60px;
  fill: var(--color-passiv-icon-link);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer:hover,
.social:focus {
  border-color: var(--hover-color);
}

.customer:hover .icon-customer,
.customer:focus .icon-customer {
   fill: var(--hover-color);
}



/*footer*/

.footer {
  background: var(--background-footer);

}
.page-down {
  display: flex;
    
}
.contakts {
  padding: 60px 0;
  margin-bottom: 0;
  margin-right: 70px;
      
  /* outline: 2px solid blue; */
}


.footer-unit:not(:last-child) {
  margin-bottom: 9px;
  
}

address {
  text-decoration: none;
  font-style: normal;
}
.place {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.place:hover,
.place:focus {
  color: var(--hover-color);
}
.footer-contact {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--hover-color);
}
.join {
  padding-top: 72px;
  margin-right: 93px;
}

.join .subtitle {
  color: var(--background-section);
  margin-bottom: 20px;
}

.footer-imeg {
  display: flex;
  justify-content: center;

}

.footer-imeg li + li {
  margin-left: 10px;
}

.social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.icon-footer {
  fill: var(--background-section);
}

.social-footer:hover,
.social-footer:focus {
  background-color: var(--hover-color);
}
.form {
  padding-top: 72px;
}

.form .subtitle {
  color: var(--background-section);
  margin-bottom: 20px;
}

.subscription {
  display: flex;
}

.form-input {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6)

}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  }

.form-input:placeholder-shown {
  border-color: rgba(255, 255, 255, 0.3);
  }

.form-input:not(:placeholder-shown) {
    border-color: #2196f3;
  }

  .form button {
    display: inline-flex;
    align-items: center;
    padding-left: 29px;
    padding-right: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--hover-color);
    color: var(--background-section);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: inherit;
    font-weight: 700;
    cursor: pointer;
  
  }
.form .icon-footer {
  margin-left: 10px;
}


/*Modal*/
.backdrop {
  position: fixed;
  z-index: 2;
  top: 0;
  left:0;

  width: 100%;
  height: 100%;

  background-color:rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility:visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
 
}

.backdrop.is-hidden .modal {
  transform: translate(5%, 5%) scale(0.1) rotate(180deg);
  
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 528px;
  height: 581px;

  background-color: var(--background-section);

  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


button.close {
  display:flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
  margin-left: auto;

  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #ECECEC;
  cursor: pointer;
 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  button.close:hover,
  button.close:focus {
    /* background-color: #ee0c0c; */
    fill: var(--hover-color)
  }


.modal-form > p {
  display: block;
 
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 40px;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1,15;
  letter-spacing: 0.03;
    
}

.personal-data-unit span {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
   color: #757575;
  
  margin-bottom: 4px;

}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 11px 12px;
  padding-left: 42px;
  
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);;
 
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}


.personal-data-unit {
  position: relative;
  display: block;
  
  width: 448px;

  margin-left: 40px;
  margin-bottom: 10px;

  cursor: pointer;
  
}

.modal-icon {
  position: absolute;
  top: 29px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.personal-data-unit:hover .modal-icon,
.personal-data-unit:focus-within .modal-icon {
  fill: var(--hover-color);
}

.personal-data-unit:hover .modal-input,
.personal-data-unit:focus-within .modal-input,
.personal-data-unit:hover textarea,
.personal-data-unit:focus-within textarea

{
  border-color: var(--hover-color);
}



label > textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;

  resize: none;
  
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.agree {
  display: flex;
  align-items: center;
  margin-left: 52px;
  margin-bottom: 30px;
   
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.link-agree {
  display: block;
  margin-left: 4px;
  color: rgba(33, 150, 243, 1);
  text-decoration-line: underline;
}
.icon-agree ~ span {
  display: block;
}



.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

}

.icon-agree {
  display:inline-block;
  width: 16px;
  height: 15px;
  
  margin-right: 8px;
  
  background-image: url(../imeges/checkbox.svg);

  
}

.checkbox:checked + .icon-agree {
  border-color: transparent;
  background-color: var(--hover-color);
  background-image: url(../imeges/icon-check.svg);
  background-size: cover;
  background-origin:border-box;
  border: 1px solid transparent;
  border-radius: 2px;
}

.modal-form button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 55px;
  margin-left: 164px;
  margin-bottom: 40px;
  
  border: none;
  border-radius: 4px;
  background-color: var(--hover-color);
  color: var(--background-section);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  
  font-size: 16px;
  line-height: 1,875;
  font-weight: 700;

  cursor: pointer;

}
















/*Portfolio*/

/*Filter*/

.filter {
   margin-bottom: 50px;
 
}

 .portfolio-filter {
   display: flex;
   justify-content: center;

 } 

 .portfolio-filter .filter-unit + .filter-unit {
  margin-left: 8px;
}


.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  background-color: #F5F4FA;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--hover-color);
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*Work*/

.work {
  display: flex;
  flex-wrap: wrap;
}

.work-unit {
  
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  

  
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}

.work-unit:hover,
.work-unit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.work-unit:nth-child(3n) {
   margin-right: 0;
 }
 .work-unit:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.border {
  
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.work-name {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-text {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.work-overlay {
  position: relative;
  overflow: hidden;
}
.work-unit:hover .overlay {
  transform: translateY(0);
}

.overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay > p {
  display: block;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03;
  
  color: var(--background-section);
}

